@import "tailwindcss";
@plugin "daisyui";



:root {
  --background: #1b1b1b;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1b1b1b;
    --foreground: #ededed;
  }

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.pentagon {
  clip-path: polygon(100% 0, 100% 57%, 0 100%, 0 100%, 0 0);
  overflow: hidden;
}
.pentagon2 {
  clip-path: polygon(86% 0, 49% 100%, 0 100%, 0 0);
  overflow: hidden;

  @media all and (max-width: 768px) {
    clip-path: none;
    width: 100%;
    height: 100%;
  }
}
.pentagon3 {
  clip-path: polygon(86% 0, 100% 0, 100% 100%, 49% 100%);
  overflow: hidden;
  @media all and (max-width: 768px) {
    clip-path: none;
    width:0;
    height: 0 ;
  }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
